

*{
    margin: 0%; 
    padding: 0%;
}
nav{
    display: flex;
    background-color: rgb(21,90,252);
    color: white;
    width: 100%;
    height: 55px;
}
nav  .logo img{
    margin-left: 56%;
    margin-top: 2%;
    width: 31%;
}
.logo p.x{
    margin-left: 56%;

}
.logo p.x span{
    color: rgb(255,191,0);
}

nav input{
    width: 30%;
    height: 18px;
    padding: 10px;
    outline: none;
    border: none;
    margin-top: 12px;
    border-radius: 2px;
    font-size: 15px;
     
}
nav i.fa-solid {
    margin-top: 21px;
    margin-left: -25px;
    color: rgb(16,36,255);
    font-size: 16px;
}
nav ul.koi li a.v:hover{
    border-bottom: 2px soild white;
    color: white;
    cursor: pointer;
}
.slider{
    width: 100%;
    display: flex;
    padding: 20px 0px;
}
.image_slider{
    display: flex;
    padding-right:  20px ;
    height: 250px;
}
.image_slider img{
    width: 100%;
    padding: 0px 15px;

}  
.but_container{
    margin:auto;
    width: 10px;
    position: relative;
}  
.btn{
    padding: 35px 15px ;
    background-color: white;
    font-size: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.btn-left{
    position: relative;
}
.btn-right{
    position: relative;
    left: -40px;
}

ul.pokemon {
    display: flex;
    list-style: none;
    justify-content: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    font-size:25px ;
}
ul.koi{
    display: flex;
    list-style: none;
    justify-content: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    font-size:25px ;
}
a.b{
    margin-left: 30px;
}
a.b{
    margin-inline: 30px;
}
ul.pokemon li a.b{
    margin-inline: 40px;
    font-size: 25px;
    list-style: none;
    margin-top: 10px;
}
ul.koi li a.v{
    margin-inline: 40px;
    font-size: 25px;
    list-style: none;
    margin-top: 10px;
}
ul.pokemon li a.b:hover{
    color: grey;
    cursor: pointer;
}

img{
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
 
.container .card img{
    width:80%;
    margin-inline: 40px;
}

.card p{
    font-size: 17px;
    margin-inline: 40px;

}
footer{
   margin-top: 15px;
}
.footer1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.footer2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}
ul.go{
    margin-top: 20px;
}
ul.go a{
    display: block ;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.footer4{
    background-color: #0f1111;
    color: white;
    height: 80px;
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}
.copyright{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px;

}
